<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd">
	
	
	<!-- 连接工厂的配置 -->
	<!-- <rabbit:connection-factory id="connectionFactory" host="${mq.host}" port="${mq.port}"  virtual-host="${mq.vhost}" username="${mq.username}" password="${mq.password}" /> -->
	
	  <rabbit:listener-container connection-factory="connectionFactory">
		<!-- 消费者1从boys列队拿消息 -->
		<rabbit:listener queues="boys"  ref="rabbitMQConsumer" method="getBoys" />
		<rabbit:listener queues="love"  ref="rabbitMQConsumer" method="getLove" />
		<rabbit:listener queues="girls" ref="rabbitMQConsumer" method="getGirls" /> 
	  </rabbit:listener-container>  

</beans>
